<!--{% block unittest %}{% endblock %}-->
<!DOCTYPE html>
<html>
<head>
	<title>Oooor Page</title>
	<!-- Bootstrap -->
    <link href="{{ url_for('static', filename='ressources/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom Theme Style -->
    <link href="{{ url_for('static', filename='ressources/customs/auth/custom.css') }}" rel="stylesheet">

    {% block styles %}
    {% endblock %}
</head>
<body>
	<header class="header-navbar-wrapper header-navbar-skinny">

		<nav class="primary-navbar navbar navbar-default">
			<div class="container">
				<div class="nav navbar-header navbar-left">
					<a class="navbar-brand">
						<img src="{{ url_for('static', filename='ressources/images/SampleLogo.png') }}">
					</a>			
				</div>
				
				<div class="nav navbar-header navbar-right">
					<p class="navbar-text text-right">Déjà membre? <a href="{{ url_for('auth.login') }}">Connectez vous</a></p>			
				</div>
			</div>
		</nav>

	</header>

	<div class="container"> <!-- opening container -->

		<div class="row m-lg-top m-xlg-bottom">
			<div class="col-md-12">
				{% for message in get_flashed_messages() %}
					<div class="alert alert-warning">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ message }}
					</div>
			{% endfor %}
			</div>
			

			{% block content %}
			{% endblock %}
		</div> <!-- div 3 -->

	</div> <!-- close container -->

	<footer class="page-footer auth-footer">
		<div class="container">
		    <div class="row">
		        <div class="col-md-12 text-center">
		            <p class="copyright">
		                © 2016 - 2017 Compagnon.
		            </p>
		            <a href="#">Terms of Service</a>
		            <br>
		            <a href="#">Cookie Policy</a>
		        </div>
		    </div>
		</div>
    </footer>
	
 	<!-- jQuery -->
    <script src="{{ url_for('static', filename='ressources/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='ressources/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick: removes click lag -->
    <script src="{{ url_for('static', filename='ressources/fastclick/lib/fastclick.js') }}"></script>
</body>
</html>