{% extends 'auth/base.html' %}

{% block styles %}
{{ super() }}
	<link href="{{ url_for('static', filename='ressources/customs/auth/choice.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="col-md-12 m-lg-bottom">
	<hgroup class="text-center">
		<h1 class="m-xs-top-bottom">Bienvenue!</h1>
		<h1 class="m-xs-top-bottom">Quel type de compte voulez vou ouvrir?</h1>
	</hgroup>
</div>

<div class="col-md-12 m-lg-bottom hidden-xs-down"></div>

<div class="col-md-12 text-center">

	<div class="col-md-5 text-center user-choice">
		<div class="text-muted">
			<div class="user-choice-icon">
				<img src="{{url_for('static', filename='ressources/images/icons/student.png')}}">
			</div>
			<div class="user-choice-text">
				Ouvrir un compte client
			</div>
		</div>
		<p class="m-lg-bottom">
			Vous-êtes un étudiant,
			<br>
			ou un parent?
		</p>
		<a class="btn btn-primary register-btn" href="{{ url_for('auth.register_client') }}">Continuer</a>
	</div>

	<div class="col-md-2 text-center or-divider">OU</div>

	<div class="col-md-5 text-center user-choice">
		<div class="text-muted">
			<div class="user-choice-icon">
				<img src="{{url_for('static', filename='ressources/images/icons/teacher2.png')}}">
			</div>
			<div class="user-choice-text">
				Ouvrir un compte prof
			</div>
		</div>
		<p class="m-lg-bottom">
			Vous êtes un prof,
			<br>
			voulez vous enseigner?
		</p>
		<a class="btn btn-primary register-btn" href="{{ url_for('auth.register_prof') }}">Continuer</a>
	</div> <!-- div 1 -->
	
</div> <!-- div 2 -->
{% endblock %}