body {
	background-color: #f9f9f9;
}

@media (min-width: 1200px){
	.container {
		width: 1000px;
	}
}


body >.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 768px){
	.header-navbar-skinny .navbar-left {
		float: left;
	}
}

.header-navbar-skinny .navbar-default.primary-navbar {
    background: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0;
    padding: 0 10px 0 10px;
}

.header-navbar-skinny .navbar-default {
    min-height: 50px;
    border-radius: 0;
}

.header-navbar-skinny .navbar-default.primary-navbar .navbar-brand img{
	max-height: 40px;
}

.header-navbar-skinny .navbar-right .navbar-text {
    margin-top: 23px;
    margin-bottom: 23px;
}



.m-xs-top, .m-xs-top-bottom {
	margin-top: 5px !important;
}
.m-xs-bottom, .m-xs-top-bottom {
	margin-bottom: 5px !important;
}

.m-md-top, .m-md-top-bottom {
	margin-top: 20px !important;
}
.m-md-bottom, .m-md-top-bottom {
	margin-bottom: 20px !important;
}


.m-lg-top, .m-lg-top-bottom {
    margin-top: 40px !important;
}

.m-lg-bottom, .m-lg-top-bottom {
    margin-bottom: 40px !important;
}

.m-xlg-top, .m-xlg-top-bottom {
    margin-top: 80px !important;
}

.m-xlg-bottom, .m-xlg-top-bottom {
    margin-bottom: 80px !important;
}




.text-center {
	text-align: center;
}

.text-muted {
    color: #7d7d7d;
}





form input.btn {
	margin-top: 30px;
	width: 37%;
	background-color: #f9f9f9;
}

@media (min-width: 768px){
	form input.btn {
		margin-left: -2px;
	}
}




html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

.auth-footer {
	position: absolute;
	bottom: 0;
	padding: 30px 0 25px 0;
	background-color: #2A3F54;
	width: 100%;
}

.auth-footer .copyright {
	color: #e0e0e0
}

.auth-footer a {
	color: #7d7d7d
}