{% extends 'client/nbase.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='ressources/customs/client/css/index.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='ressources/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 main-title">
		<h1>Modifiez votre profile</h1>
	</div>
	<div class="main-tile tile col-md-10 col-sm-12">
		<div class="row">
			<div class="col-md-12">
				<h3>Profile</h3>
				<form id="profile_form" method="post">
					{{ profile_form.csrf_token }}
					<div class="col-md-12">
						{{ wtf.form_field(profile_form.about_me) }}
					</div>
					<div class="col-md-12">
						{{ wtf.form_field(profile_form.birth_date) }}
					</div>
					<div class="col-md-12">
						{{ wtf.form_field(profile_form.submit) }}
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='ressources/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

<script>
$(function () {
	$('#birth_date').datetimepicker({
	    format: 'DD/MM/YYYY',
	});

	console.log('foo');
});
</script>
{% endblock %}