{% extends 'client/base.html' %}

{% block styles %}
{{ super() }}
    <!-- Custom Chat Style -->
    <link href="{{ url_for('static', filename='ressources/customs/chat/css/chat.css') }}" rel="stylesheet">

{% endblock %}


{% block content %}         
<!-- live-chat panel -->      
<div class="col-sm-9 col-xs-12 live-chat"> <!-- style="overflow: hidden; outline: none;" tabindex="5001"-->
  <div class="x_panel tile live-chat-body">
    <div class="x_title">
      <h2>Chat box</h2>
    <div class="clearfix"></div>
    </div>
    <div class="col-inside-lg decor-default x_content scrollable">
      <div class="">
        <div id="messages">
          <div class="see-more">
           <h7>See More</h7>
          </div>
          
          {% for m in messages %}
            {% if m.sender == _from %}
              <div class="answer right">
              <div class="avatar">
              <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
              <div class="status offline"></div>
              </div>
              <div class="name">{{ m.sender.first_name }} {{ m.sender.last_name }}</div>
              <div class="text">
                {{ m.text }}
              </div>
              <div class="time" data-time="{{ m.timestamp }}"></div>
              </div>
            {% elif  m.sender == _to %}
              <div class="answer left">
              <div class="avatar">
              <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
              <div class="status online"></div>
              </div>
              <div class="name">{{ m.receiver.first_name}} {{ m.receiver.last_name}}</div>
              <div class="text">
                {{ m.text }}
              </div>
              <div class="time" data-time="{{ m.timestamp }}"></div>
              </div>
            {% endif %}
          {% endfor %}

        </div>

        <div class="chat-bottom-space answer left"></div>

      </div>      
    </div>
     
 
    <div class="answer-add">
      <input id="chatBox" placeholder="Write a message">
      <span id="sendButton" class="answer-btn answer-btn-2"></span>
    </div> 


  </div>
</div>



<div class="col-sm-3 col-xs-12 live-chat"> <!-- style="overflow: hidden; outline: none;" tabindex="5000"-->
  <div class="x_panel tile">
    <div class="x_title">
      <h2>Discussions</h2>
      <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="#">Settings 1</a>
        </li>
        <li><a href="#">Settings 2</a>
        </li>
        </ul>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
      </ul>
      <div class="clearfix"></div>
    </div>


    <div class="col-inside-lg decor-default x_content scrollable" >
        <div class="live-chat-users">
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
                <div class="status off"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
            <div class="user">
                <div class="avatar">
                <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
                <div class="status online"></div>
                </div>
                <div class="name">User name</div>
                <div class="mood">User mood</div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <!-- Custom Theme Scripts -->
  <script>
    var f = {id: "{{ _from.id }}", name: "{{ _from.first_name}} {{ _from.last_name}}"};
    var t = {id: "{{ _to.id }}", name: "{{ _to.first_name}} {{ _to.last_name}}"}
    var r = "{{ room_name }}";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"></script>
  <script src="{{ url_for('static', filename='ressources/customs/chat/js/chat.js') }}"></script>
  <script src="{{ url_for('static', filename='ressources/moment/min/moment.min.js') }}"></script>
  <!--script src="{{ url_for('static', filename='ressources/socket.io-client/dist/socket.io.js') }}"></script-->

{% endblock %}
