{% extends 'client/nbase.html' %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='ressources/customs/client/css/bookings.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 main-title">
		<h1>Réservations</h1>
	</div>
	<div class="main-tile tile col-md-10 bookings-tile">
		<div class="row abooking waiting">
			<div class="col-md-2 col-sm-3 col-xs-4 img-col">
				<div class="img-container">
					<img src="{{ url_for('static', filename='uploads/users/placeholder.jpg') }}">
				</div>
			</div>
			<div class="col-md-8 col-sm-9">
				<div class="booking-data">
					<div class="name">
						Mohammed Tiw (maths)
					</div>
					<div class="date">
						Date et heure: <span class="date-value">22 février 2017 12:44</span>
					</div>
					<div class="rate">
						Séance de <span class="green">2</span> heures à 
						<span class="green">200 dh/h</span>
						 (total: <span class="green">400 dh</span>)
					</div>
					<div class="status">
						Status: <span class="value">En attente d'acceptation.</span>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-12">
				<div class="booking-actions">
					<div class="cancel">
						<i class="fa fa-times" aria-hidden="true"> Annuler</i>
					</div>
				</div>
			</div>

		</div>

		<div class="row abooking accepted">
			<div class="col-md-2 col-sm-3 col-xs-4 img-col">
				<div class="img-container">
					<img src="{{ url_for('static', filename='uploads/users/placeholder.jpg') }}">
				</div>
			</div>
			<div class="col-md-8 col-sm-9">
				<div class="booking-data">
					<div class="name">
						Mohammed Tiw (maths)
					</div>
					<div class="date">
						Date et heure: <span class="date-value">22 février 2017 12:44</span>
					</div>
					<div class="rate">
						Séance de <span class="green">2</span> heures à 
						<span class="green">200 dh/h</span>
						 (total: <span class="green">400 dh</span>)
					</div>
					<div class="status">
						Status: <span class="value">Acceptée.</span>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-12">
				<div class="booking-actions">
					<div class="cancel">
						<i class="fa fa-times" aria-hidden="true"> Annuler</i>
					</div>
					<div class="validate">
						<i class="fa fa-times" aria-hidden="true"> Valider</i>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}