{% extends 'client/nbase.html' %}

{% block styles %}
{{ super() }}
    <link href="{{ url_for('static', filename='ressources/customs/client/css/index.css') }}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 main-title">
		<h1>Bienvenue {{ user['last_name'] }}!</h1>
	</div>
	

	<div class="main-tile tile col-md-10 col-sm-12">
		<div class="row">
			<div class="col-md-12">
				<h3>Trouvez un tuteur</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				<form>
					<div class="form-group input-with-icon">
						<input class="naked-input" type="text" name="" placeholder="Nom, ville, matière...">
						<i class="fa fa-search fa-icon" aria-hidden="true"></i>
					</div>
				</form>
			</div>
			<div class="col-md-2" id="index-advanced-search">
				<a href="#" class="slightly-small-text">Recherche avancée</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3>Mes stats</h3>
			</div>
			<div class="col-md-12 stat-header">
		<div class="row stat-wrapper">

			<div class="col-md-3 col-sm-3 col-xs-6 stat_tile">
		      <span class="stat_top dark-blue"><i class="fa fa-usd"></i> Solde</span>
		      <div class="stat_count dark-blue">2500dh</div>
		      <span><a class="green">Historique </a></span>
		    </div>
		    <div class="col-md-3 col-sm-3 col-xs-6 stat_tile">
		      <span class="stat_top dark-blue"><i class="fa fa-clock-o"></i> Réservations en cours</span>
		      <div class="stat_count dark-blue">3</div>
		      <span><a class="green">Consulter </a></span>
		    </div>
		    <div class="col-md-3 col-sm-3 col-xs-6 stat_tile">
		      <span class="stat_top dark-blue"><i class="fa fa-user"></i> Séances </span>
		      <div class="stat_count dark-blue">9h</div>
		      <span><i class="red"><i class="fa fa-arrow-down"></i> 4% </i> ce mois</span>
		    </div>
		    <div class="col-md-3 col-sm-3 col-xs-6 stat_tile">
		      <span class="stat_top dark-blue"><i class="fa fa-user"></i> Total dépenses</span>
		      <div class="stat_count dark-blue">500</div>
		      <span><i class="red"><i class="fa fa-arrow-down"></i> 4% </i> ce mois</span>
		    </div>
		</div>
	</div>


		</div>

		

		<div class="row">
			<div class="col-md-12">
				<h3>Mon compte</h3>
			</div>
			
			

			<div class="row squares-row">
				<div class="square-col col-md-3 col-sm-3 col-xs-6">
					<a class="div-link" href="foo">
						<div class="square">
							<div class="square-img">
								<img src="{{ url_for('static', filename='ressources/images/icons/money.png') }}">
							</div>
							<div class="square-text text-center">
								<span>recharger mon compte</span>
							</div>
						</div>
					</a>
				</div>
				<div class="square-col col-md-3 col-sm-3  col-xs-6">
					<a class="div-link" href="{{ url_for('client.my_bookings') }}">
						<div class="square">
							<div class="square-img">
								<img src="{{ url_for('static', filename='ressources/images/icons/booking.png') }}">
								<div class="reservation-notification">3</div>
							</div>
							<div class="square-text text-center">
								<span>mes Réservations</span> 
							</div>
						</div>
					</a>
				</div>
				<div class="square-col col-md-3 col-sm-3  col-xs-6">
					<a class="div-link" href="foo">
						<div class="square">
							<div class="square-img">
								<img src="{{ url_for('static', filename='ressources/images/icons/profile.png') }}">
							</div>
							<div class="square-text text-center">
								<span>profil</span>
							</div>
						</div>
					</a>
				</div>
				<div class="square-col col-md-3 col-sm-3 col-xs-6">
					<a class="div-link" href="foo">
						<div class="square">
							<div class="square-img">
								<img src="{{ url_for('static', filename='ressources/images/icons/settings.png') }}">
							</div>
							<div class="square-text text-center">
								<span>préférences</span>
							</div>
						</div>
					</a>
				</div>
				<div class="square-col col-md-3 col-sm-3  col-xs-6">
					<a class="div-link" href="foo">
						<div class="square">
							<div class="square-img">
								<img src="{{ url_for('static', filename='ressources/images/icons/question.png') }}">
							</div>
							<div class="square-text text-center">
								<span>Aide</span> 
							</div>
						</div>
					</a>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}