{% extends 'client/nbase.html' %}

{% block styles %}
{{ super() }}
<!-- Select2 -->
<link href="{{ url_for('static', filename='ressources/select2/dist/css/select2.min.css') }}" rel="stylesheet">

<!-- ion.rangeSlider -->
<link href="{{ url_for('static', filename='ressources/ion.rangeSlider/css/ion.rangeSlider.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='ressources/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='ressources/customs/client/css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="main-tile col-md-12 search-tile tile">
		<div class="row">
			<div class="col-md-12">
				<h3>Résultats pour "{{ keywords }}"</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form>
					<div class="form-group input-with-icon">
						<input class="naked-input" type="text" name="" placeholder="Nom, ville, matière...">
						<i class="fa fa-search fa-icon" aria-hidden="true"></i>
					</div>
				</form>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="dark-blue more-options" id="more-options">
					<div class="more">
						<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
						Plus d'options
					</div>
					<div class="less hidden">
						<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						Moin d'options
					</div>
				</div>
			</div>
		</div>
		<div class="search-options-wrapper ">
			<div class="row search-options">
				<div class="col-md-4">
					<form>
						<div class="row form-group">
	                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Matières</label>
	                        <div class="col-md-12 col-sm-12 col-xs-12">
	                          <select class="select2_multiple form-control" multiple="multiple" style="width: 100%">
	                            <option>Choose option</option>
	                            <option>Option one</option>
	                            <option>Option two</option>
	                            <option>Option three</option>
	                            <option>Option four</option>
	                            <option>Option five</option>
	                            <option>Option six</option>
	                          </select>
	                        </div>
	                      </div>
					</form>
				</div>
				<div class="col-md-4">
					<form>
						<div class="row form-group">
	                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Niveaux</label>
	                        <div class="col-md-12 col-sm-12 col-xs-12">
	                          <select class="select2_multiple form-control" multiple="multiple" style="width: 100%">
	                            <option>Choose option</option>
	                            <option>Option one</option>
	                            <option>Option two</option>
	                            <option>Option three</option>
	                            <option>Option four</option>
	                            <option>Option five</option>
	                            <option>Option six</option>
	                          </select>
	                        </div>
	                      </div>
					</form>
				</div>
				<div class="col-md-4">
					<form>
						<div class="row form-group">
	                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Villes</label>
	                        <div class="col-md-12 col-sm-12 col-xs-12">
	                          <select class="select2_multiple form-control" multiple="multiple" style="width: 100%">
	                            <option>Choose option</option>
	                            <option>Option one</option>
	                            <option>Option two</option>
	                            <option>Option three</option>
	                            <option>Option four</option>
	                            <option>Option five</option>
	                            <option>Option six</option>
	                          </select>
	                        </div>
	                      </div>
					</form>
				</div>
			</div>

			<div class="row more-options-row">
				<div class="col-md-6 col-sm-6 col-xs-12 age-option slider">
					<p>Age</p>
					<input type="text" id="age-range" value="" name="range" />
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 age-option slider">
					<p>Prix par heure</p>
					<input type="text" id="price-range" value="" name="range" />
				</div>
				
			</div>
		</div>

		<div class="search-results-wrapper">
			<div class="row one-result no-wrap">
				<div class="col-md-2 col-sm-3 col-xs-3">
					<div class="img-container">
						<img src="{{ url_for('static', filename='uploads/users/placeholder.jpg') }}">
					</div>
				</div>
				<div class="col-md-8 col-sm-9 col-xs-9 clickable-result">
					<div class="result-data">
						<div class="top-section">
							<div class="name">Mohammed Tiw (34, rabat)</div>
							<div class="title">Titre de sat 3chiri mohammed tiw wa twil a sahbi n9ouss chwia pliz</div>
							<div class="rating">
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star-o" ></i>
							</div>
						</div>

						<div class="bottom-section">
							<div class="price">Prix: 200 dh/h</div>
							<div class='subjects'> Matières: Maths, Physique, français, anglais ss aksjd alsjhc alscjhas laskcj</div>
						</div>
					</div>
				</div>

				


				<div class="col-md-2 col-sm-12 col-xs-12">
						<div class="row action-btns">
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Message </div>							
							</div>
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Réserver une séance </div>								
							</div>
						</div>
				</div>
			</div>

			{% for prof in prof_list %}
			<div class="row one-result no-wrap">
				<div class="col-md-2 col-sm-3 col-xs-3">
					<div class="img-container">
						<img src="{{ url_for('static', filename='uploads/users/placeholder.jpg') }}">
					</div>
				</div>
				<div class="col-md-8 col-sm-9 col-xs-9 clickable-result">
					<div class="result-data">
						<div class="top-section">
							<div class="name">{{ prof.user.first_name }} {{ prof.user.last_name }} ({{ prof.user.age }}, rabat)</div>
							<div class="title">Titre de sat 3chiri mohammed tiw wa twil a sahbi n9ouss chwia pliz</div>
							<div class="rating">
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star-o" ></i>
							</div>
						</div>

						<div class="bottom-section">
							<div class="price">Prix: 200 dh/h</div>
							<div class='subjects'> Matières: Maths, Physique, français, anglais ss aksjd alsjhc alscjhas laskcj</div>
						</div>
					</div>
				</div>

				


				<div class="col-md-2 col-sm-12 col-xs-12">
						<div class="row action-btns">
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Message </div>							
							</div>
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Réserver une séance </div>								
							</div>
						</div>
				</div>
			</div>

			{% endfor %}


			




		</div>



	</div><!-- Main tile -->

	<div class="main-tile col-md-12 pagination-tile tile">
		<span class="page-number">1</span>
		<span class="page-number">2</span>
		<span class="page-number">3</span>
		<span class="page-number-hidden">...</span>
		<span class="page-number">9</span>
		<span class="page-number">10</span>
	</div>


</div> <!-- row -->


		

		

		
{% endblock %}



{% block scripts %}
{{ super() }}
<!-- Select2 -->
<script src="{{ url_for('static', filename='ressources/select2/dist/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='ressources/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
<script src="{{ url_for('static', filename='ressources/customs/client/js/search.js') }}"></script>



<!-- Select2 -->
<script>
  $(document).ready(function() {
    $(".select2_single").select2({
      placeholder: "Select a state",
      allowClear: true
    });
    $(".select2_group").select2({});
    $(".select2_multiple").select2({
      maximumSelectionLength: 4,
      placeholder: "With Max Selection limit 4",
      allowClear: true
    });
  });
</script>
<!-- /Select2 -->

<!-- ionRangeSlider -->
<script>
 $("#age-range").ionRangeSlider({
          hide_min_max: true,
          keyboard: true,
          min: 18,
          max: 80,
          from: 18,
          to: 80,
          type: 'double',
          step: 1,
          prefix: "",
          grid: true
        });

 $("#price-range").ionRangeSlider({
          hide_min_max: true,
          keyboard: true,
          min: 50,
          max: 400,
          from: 50,
          to: 400,
          type: 'double',
          step: 10,
          postfix: " dh",
          grid: true
        });
</script>
<!-- /ionRangeSlider -->

{% endblock %}
