{% extends 'client/nbase.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='ressources/customs/client/css/index.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='ressources/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 main-title">
		<h1>Modifiez votre profile</h1>
	</div>
	<div class="main-tile tile col-md-10 col-sm-12">
		<div class="row">
			<div class="col-md-12">
				<h3>Informations générales</h3>
				<form method="post" action="{{ url_for('client.profile_general') }}">	
					about me <br>
					
					<textarea name='about_me'>{{ placeholders.about_me }}</textarea>



					<br>
					Date de naissance:
					<br>
					<input id="birth_date" name="birth_date" value="{{ placeholders.birth_date }}">

					<br>
					<input type="submit" value="Enregistrer">
				</form>	

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='ressources/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

<script>
$(function () {
	$('#birth_date').datetimepicker({
	    format: 'DD/MM/YYYY',
	});

	console.log('foo');
});
</script>
{% endblock %}