{% extends 'client/base.html' %}

{% block styles %}
{{ super() }}
<!-- Select2 -->
<link href="{{ url_for('static', filename='ressources/select2/dist/css/select2.min.css') }}" rel="stylesheet">

<!-- ion.rangeSlider -->
<link href="{{ url_for('static', filename='ressources/ion.rangeSlider/css/ion.rangeSlider.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='ressources/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='ressources/customs/client/css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="main-tile col-md-12 search-tile tile">
		<div class="row">
			<!--div class="col-md-12">
				{% if keywords %}
					<h3>Résultats pour "{{ keywords }}"</h3>
				{% else %}
					<h3>Recherche</h3>
				{% endif %}
			</div-->
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group input-with-icon">
					<input id="search_bar" class="naked-input" type="text" name="" placeholder="Nom, ville, matière..." {% if default_keywords %} value="{{ default_keywords }}" {% endif %}>
					<i class="fa fa-search fa-icon" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="dark-blue more-options" id="more-options">
					<div class="more">
						<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
						Plus d'options
					</div>
					<div class="less hidden">
						<i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
						Moin d'options
					</div>
				</div>
			</div>
		</div>
		<div class="search-options-wrapper ">
			<form method="POST">
				<div class="row search-options">
					<div class="col-md-4">
							<div class="row form-group">
		                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Matières</label>
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                          <select id="subjects" class="select2_multiple form-control" multiple="multiple" style="width: 100%">
		                            {% for s in form_choices.subjects %}
		                            	{% if s == default_subject %}
										<option value={{s.id}} selected>{{ s.name }}</option>
		                            	{% else %}
		                            	<option value={{s.id}}>{{ s.name }}</option>
		                            	{% endif %}
		                            {% endfor %}
		                          </select>
		                        </div>
		                      </div>
					</div>
					<div class="col-md-4">
							<div class="row form-group">
		                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Niveaux</label>
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                          <select id="levels" class="select2_multiple form-control" multiple="multiple" style="width: 100%">
		                            {% for l in form_choices.levels %}
									<option value={{l.id}}>{{ l.name }}</option>
		                            {% endfor %}
		                          </select>
		                        </div>
		                      </div>
					</div>
					<div class="col-md-4">
							<div class="row form-group">
		                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Villes</label>
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                          <select id="cities" class="select2_multiple form-control" multiple="multiple" style="width: 100%">
		                            {% for c in form_choices.cities %}
									<option value={{c.id}}>{{ c.name }}</option>
		                            {% endfor %}
		                          </select>
		                        </div>
		                      </div>
					</div>
				</div>

				<div class="row more-options-row">
					<div class="col-md-6 col-sm-6 col-xs-12 age-option slider">
						<p>Age</p>
						<input type="text" id="age_range" value="" name="range" />
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 age-option slider">
						<p>Prix par heure</p>
						<input type="text" id="price_range" value="" name="range" />
					</div>

					<div class="col-md-12 submit-div">
						<input class="btn" type="" value="Envoyer">
					</div>

				</div>

				<div class="row hidden hidden_form ">
					<div class="col-md-12">
						<div id="search_form">
							<textarea name="query_json"></textarea>
							<input class="submit" type="submit">
						</div>
					</div>		
				</div>
			</form>
		</div>

		<div class="search-results-wrapper">
			<div class="no_result hidden">
				Aucun résultat
			</div>

			<div class="results_list">
				
			</div>
			<!--div class="row one-result no-wrap">
				<div class="col-md-2 col-sm-3 col-xs-3">
					<div class="img-container">
						<img src="{{ url_for('static', filename='uploads/users/placeholder.jpg') }}">
					</div>
				</div>
				<div class="col-md-8 col-sm-9 col-xs-9 clickable-result">
					<div class="result-data">
						<div class="top-section">
							<div class="name">Mohammed Tiw (34, rabat)</div>
							<div class="title">Titre de sat 3chiri mohammed tiw wa twil a sahbi n9ouss chwia pliz</div>
							<div class="rating">
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star" ></i>
								<i class="fa fa-star-o" ></i>
							</div>
						</div>

						<div class="bottom-section">
							<div class="price">Prix: 200 dh/h</div>
							<div class='subjects'> Matières: Maths, Physique, français, anglais ss aksjd alsjhc alscjhas laskcj</div>
						</div>
					</div>
				</div>

				


				<div class="col-md-2 col-sm-12 col-xs-12">
						<div class="row action-btns">
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Message </div>							
							</div>
							<div class="col-md-12 col-sm-6 text-center btn-col">
								<div class="mybtn"> Réserver une séance </div>								
							</div>
						</div>
				</div>
			</div -->

			

		</div>

		



	</div><!-- Main tile -->

	<!--div class="main-tile col-md-12 pagination-tile tile">
		<span class="page-number">1</span>
		<span class="page-number">2</span>
		<span class="page-number">3</span>
		<span class="page-number-hidden">...</span>
		<span class="page-number">9</span>
		<span class="page-number">10</span>
	</div-->


</div> <!-- row -->


		

		

		
{% endblock %}



{% block scripts %}
{{ super() }}
<!-- Select2 -->
<script src="{{ url_for('static', filename='ressources/select2/dist/js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='ressources/ion.rangeSlider/js/ion.rangeSlider.min.js') }}"></script>
<script src="{{ url_for('static', filename='ressources/customs/client/js/search.js') }}"></script>



<!-- Select2 -->
<script>
	var default_subject = null
	{% if default_subject %}
		default_subject = {{ default_subject.id }}
	{% endif %}


	$(document).ready(function() {
		$(".select2_multiple").select2({
			//maximumSelectionLength: 4,
			placeholder: "Sélectionnez",
			allowClear: true
		});
	});
</script>
<!-- /Select2 -->

<!-- ionRangeSlider -->
<script>
 $("#age_range").ionRangeSlider({
          hide_min_max: true,
          keyboard: true,
          min: 18,
          max: 80,
          from: 18,
          to: 80,
          type: 'double',
          step: 1,
          prefix: "",
          grid: true
        });

 $("#price_range").ionRangeSlider({
          hide_min_max: true,
          keyboard: true,
          min: 50,
          max: 400,
          from: 50,
          to: 400,
          type: 'double',
          step: 10,
          postfix: " dh",
          grid: true
        });
</script>
<!-- /ionRangeSlider -->

{% endblock %}
