{% extends 'prof/base.html' %}

{% block styles %}
{{ super() }}
    <link href="{{ url_for('static', filename='ressources/customs/shared/index/css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ressources/customs/prof/css/index.css') }}" rel="stylesheet">
    
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12 main-title">
		<h1>Bienvenue {{ user['last_name'] }}!</h1>
	</div>

	<div class="main-tile tile col-md-10 col-sm-12">
		<div class="col-md-12">
			<h3> </h3>
		</div>



		

	</div>
	
</div>
{% endblock %}